<%- include("header") -%>
<section id="Cover">
    <div class="cover">
        <div class="container">
            <h1><%=playlistname%></h1>
                <%for(var i=0;i<songs.length;i++){%>
                    <div class="row">
                        <div class=" col-lg-3 row-scroll">
                            <div class="song">
                                <img src="images/top50.jpeg">
                                <button onclick="songlist('<%=songs[i].name%>','<%=songs[i].no%>')" name=<%=i%> id="<%=i%>" class="list-group-item"><%=songs[i].name%></button>
                            </div>
                        </div> 
                        <!-- <div class="w-100"></div> -->
                        <%i++%>
                        <%if(i<50){%>
                        <div id="r1" class="col-lg-3 row-scroll">
                            <div class="song">
                                <img src="images/top50.jpeg">
                                <button onclick="songlist('<%=songs[i].name%>','<%=songs[i].no%>')" name=<%=i%> id="<%=i%>" class="list-group-item"><%=songs[i].name%></button>
                            </div>
                        </div> 
                        <!-- <div class="w-100"></div> -->
                        <%}%>
                        <%i++%>
                        <%if(i<50){%>
                        <div id="r2" class="col-lg-3 row-scroll">
                            <div class="song">
                                <img src="images/top50.jpeg">
                                <button onclick="songlist('<%=songs[i].name%>','<%=songs[i].no%>')" name=<%=i%> id="<%=i%>" class="list-group-item"><%=songs[i].name%></button>
                            </div>
                        </div> 
                        <!-- <div class="w-100"></div> -->
                        <%}%>
                        <%i++%>
                        <%if(i<50){%>
                        <div id="r3" class="col-lg-3 row-scroll">
                            <div class="song">
                                <img src="images/top50.jpeg">
                                <button onclick="songlist('<%=songs[i].name%>','<%=songs[i].no%>')" name=<%=i%> id="<%=i%>" class="list-group-item"><%=songs[i].name%></button>
                            </div>
                        </div> 
                        <%}%>
                    </div>
                <%}%>
        </div>
    </div>
</section>
<section id="Footer">
    <div class="bottom">
        <input type="range" name="range" id="myProgressBar" min="0" value="0" max="100">
        <div class="currPlay">
            <h6 id="songname">Under The Influence</h6>
            <div class="icons">
                <i onclick="backward()" id="back" class="fa-solid fa-2x fa-step-backward"></i>
                <i onclick="playsong()" id="play/pause" class="fa-regular fa-2x fa-circle-play"></i>
                <i onclick="forward()" id="forward" class="fa-solid fa-2x fa-step-forward"></i>
            </div>
        </div>
    </div>
</section>
</body>
</html>
